h1{
  font-size: 50px;
}
.tao{
  background-color: rgba(0, 0, 0, 0.91);
color: rgb(23, 232, 255);
padding: 30px;
max-height: 600px;
overflow-y: scroll;
img{
  height: 250px;
  margin: 20px;
  border-radius: 2rem;
  border-color: aqua;
  
}
}

.contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
}