<h1 style="background-color: beige; margin-top: 30px;text-align: center;">HEAVY METAL</h1>

<section class="tao">
    <div class="contenedor">
    <img src="{{imagen}}" alt="">
    <div class="texBox">
    <h1>{{banda}}</h1>
    <p>{{descripcion}}</p>
</div>
    </div>
    
     <button
     *ngIf="option != 2 "
      class="btn btn-outline-primary mx-2" 
      (click)="change()" >
      Siguiente Banda</button>
<button
*ngIf="option == 2"
(click)="regresar()"
class="btn btn-outline-primary mx-2" 
>
    Regresar
</button>


     <button 
     class="btn btn-outline-primary">
     Siguiente Genero</button>
    
    </section>


