<div class="flex flex-column" style="font-size: 80px; text-align: center;">
    <span  >Login</span>
    
    <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input matInput>
      </mat-form-field>

    <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput placeholder="Contraseña">
    </mat-form-field>

    <button 
    mat-button mat-flat-button 
    color="primary"
    (click)="onLogin()">
        <mat-icon>save</mat-icon>
        ENTER</button>

    <div class="flex" justify-content-end mt-5>
    </div>

</div>
<a routerLink="/auth/new-account">¿ya tienes cuenta?</a>