<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<form class="form">

    <div class="titulos">
    <h2 class="form_title">{{title }}</h2>
    <p class="form_paragraph">{{subtitle}}</p>
</div>
<div class="form_container">

    <div class="form_grup">
        <label for="name" class="form_label">Nombre: </label>
        <input type="text" id="'name" class="form_input" placeholder=" ">
        <span class="form_line"></span>
    </div>
    <div class="form_grup">
        <label for="name" class="form_label">Usuario: </label>
        <input type="text" id="'user" class="form_input" placeholder=" ">
        <span class="form_line"></span>
    </div>
    <div class="form_grup">
        <label for="name" class="form_label">Contraseña: </label>
        <input type="password" id="'password" class="form_input" placeholder=" ">
        <span class="form_line"></span>

        <input type="submit" class="form_submit" value="Entrar">
    </div>

</div>
</form>


<div class="cajaDePrueva"><p> ¿Cuántos generos de metla hay?: </p>
<button (click)='sumar()'>+1</button>
{{numero}}
</div>
</body>
</html>
