<section class="tao">
<h1>{{banda}}</h1>
<div class="contenedor">
<img src="../../assets/tristania.jpeg" alt="">
<p>{{description}}</p>
</div>


<dl>
<dt >Origen:</dt>
<dd>{{origin}}</dd>
<!-- ------------------------ -->

<dt>Integrantes:</dt>

<dd>{{integrantes}}</dd>

<!-- -------------------------- -->

<dt>Albums:</dt>
<dd>{{albums}}</dd>

</dl>
<!-- -------------------------- -->
<!-- -------------------------- -->
 <button class="btn btn-outline-primary mx-2">Siguiente Banda</button>
 <button class="btn btn-outline-primary">Siguiente Genero</button>

</section>