<section class="tao">
<h1>TRISTANIA</h1>
<img src="../../assets/tristania.jpeg" alt="">
<dl>
    puto
<dt >Origen:</dt>
<dd>{{origin}}</dd>
<!-- ------------------------ -->

<dt>Integrantes:</dt>

<dd>{{integrantes[0]}}</dd>
<dd>{{integrantes[1]}}</dd>
<dd>{{integrantes[2]}}</dd>
<dd>{{integrantes[3]}}</dd>
<dd>{{integrantes[4]}}</dd>
<dd>{{integrantes[5]}}</dd>
<dd>{{integrantes[6]}}</dd>
<!-- -------------------------- -->

<dt>Albums:</dt>
<dd>{{albums[0]}}</dd>
<dd>{{albums[1]}}</dd>
<dd>{{albums[2]}}</dd>
<dd>{{albums[3]}}</dd>
<dd>{{albums[4]}}</dd>
<dd>{{albums[5]}}</dd>
<dd>{{albums[6]}}</dd>
</dl>
<!-- -------------------------- -->
<!-- -------------------------- -->
 <button class="btn btn-outline-primary mx-2">Siguiente Banda</button>
 <button class="btn btn-outline-primary">Siguiente Genero</button>

</section>