<body class="cuerpo" >

    <form class="form">
    
        <div class="titulos">
        <h2 class="form_title">{{title }}</h2>
        <p class="form_paragraph">Guía de metal</p>
    </div>
    <div class="form_container">
    
        <div class="form_grup">
            <label for="name" class="form_label">Nombre: </label>
            <input type="text" id="'name" class="form_input" placeholder=" ">
            <span class="form_line"></span>
        </div>
        <div class="form_grup">
            <label for="name" class="form_label">Usuario: </label>
            <input type="text" id="'user" class="form_input" placeholder=" ">
            <span class="form_line"></span>
        </div>
        <div class="form_grup">
            <label for="name" class="form_label">Contraseña: </label>
            <input type="password" id="'password" class="form_input" placeholder=" ">
            <span class="form_line"></span>
    
    <button class="form_submit" >ENTER</button>
        </div>
    </div>
    </form>
    </body>