<div class="flex flex-column" style="font-size: 50px;">
    <span >Registro</span>
    <mat-form-field>
        <mat-label>USUARIO</mat-label>
        <input 
        type="text" 
        matInput 
        placeholder="Nombre de usuario"
        formControlName="usuario"
        >
    </mat-form-field>

    <mat-form-field>
        <mat-label>CORREO</mat-label>
        <input 
        type="text" 
        matInput placeholder="Nombre de usuario"
        formControlName="correo"
        >

    </mat-form-field>

    <mat-form-field>
        <mat-label>CONTRASEÑA</mat-label>
        <input 
        type="password"
         matInput 
         placeholder="Contraseña"
         formControlName="contraseña"
         >
    </mat-form-field>

    <button mat-button mat-flat-button color="primary">
        <mat-icon>save</mat-icon>
        Crear cuenta</button>

    <div class="flex" justify-content-end mt-5>
    </div>

</div>
<a routerLink="/auth/Login">¿No tienes cuenta?</a>
